@import "./style/menu.css";
@import "./style/pages.css";
@import "./style/components/button.css";
@import "./style/components/article.css";

/**
Variables
**/

:root {
  --color-background: #282c34;
  --color-purple-dark: rgb(42, 36, 52);
  --color-blue-clear: rgb(185, 208, 228);
}

*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  text-decoration: none;
  color: white;
}

input, textarea {
  color: black;
}

li {
  list-style: none;
}

body {
  background-color: var(--color-background);
  min-height: 100vh;
  color: white;
}

h1 {
  text-align: center;
}

.container {
  margin: 40px;
}

p.truncate {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.information {
  color:rgb(42, 36, 52);
  font-style: italic;
  font-size: 13px;
}
